*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 1920px;
    height: 700px;
    flex-shrink: 0;;
}
a{
text-decoration: none;
}
.header{
    padding-top: 51px;
    padding-right: 375px;
    padding-bottom: 96px;
    padding-left: 1012px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    gap: 20px;
}
.header__link__home{
    color: #F25822;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header__link{
        color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}.head__text{
        color: #000;
    font-family: Gilroy-Bold;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.paragraph__text__center{
        color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.center__content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    gap: 40px;
}
.logos{
    padding-top: 97px;
    padding-bottom: 96px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 40px;
}
.image{
    width: 544.814px;
    height: 374.843px;
    flex-shrink: 0;
}
.start__btn{
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    text-align: center;
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.watch__link{
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.button{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    padding-top: 52px;
    padding-left: 50px;

}